locales/
swiftshader/
d3dcompiler_47.dll
ffmpeg.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
node.dll
notification_helper.exe
nw_100_percent.pak
nw_200_percent.pak
nw_elf.dll
nw.dll
nw.exe
nw.zip
resources.pak
v8_context_snapshot.bin
vk_swiftshader_icd.json
vk_swiftshader.dll
vulkan-1.dll